<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cart</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Cart</h1>
        <div class="container">
            <div class="row">
                <%if(error){%>
                    <h1><%=error%></h1>
                <%}else{%>
                    <% items.forEach(function(e) { %>
                        <div class="col-6 col-md-2">
                            <div class="thumbnail">
                                <img src="<%= e.product.image%>">
                                <div class="caption">
                                    <h3><%= e.product.name %></h3>
                                    <!-- <h4>Qty. <%= e.quantity%></h4> -->
                                    <h4>$<%=e.product.price%></h4>
                                    <h4 id="viewqty" style="display: block;"><b>Qty. = </b><%=e.quantity%></h4>
                                    <div id="editqty" style="display:  none;" key="<%=e.product._id%>">
                                        <label for="quantity">Qty.</label>
                                        <input id="inputqty" type="number" min="1" max="50" step="1" value="<%=e.quantity%>"/>
                                    </div>
                                    <button id="cfm" class="btn btn-warning">Edit</button>
                                    <button id="delete" class="btn btn-danger" key="<%=e.product._id%>">Delete</button>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <%}%>
            </div>
        </div>
    </body>
    <script src="cartScript.js">
    </script>
</html>