<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ecom</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <h1 style="text-align: center;">Amajon  </h1>
        <%- include("partials/header",{name:user,profilePic: pic,admin: admin})%>
        <div class="container">
            <div class="row">
                <% products.forEach(function(e) { %>
                    <div class="col-6 col-md-4">
                        <div class="thumbnail">
                            <img src="<%= e.image %>">
                            <div class="caption">
                                <h3><%= e.name %></h3>
                                <button class="atc" key="<%=e._id%>" >Add to Cart</button>
                                <button class="press" >Details</button>
                                <div class="details" style="display: none">
                                    <p><%=e.description%></p>
                                    <p>₹<%=e.price%></p>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
            <form action="/product/inc" method="post"  >
                <input type="submit" name="more" value="Load More"/>
                <input type="submit" name="collapse" value="Collapse"/>
            </form>
    </body>
    <script src="productScript.js">
    </script>
</html>