<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <title>My Product</title>
</head>
<body>
    <%- include('../partials/navheader.ejs');%>
    <h1>My Products</h1>
        <div class="container">
            <div class="row">
                <% prod.forEach(function(e) { %>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="../../../<%= e.image %>">
                            <div class="caption">
                                <h3><%= e.name %></h3>
                                <button id="del" class="btn btn-danger" key="<%=e._id%>" >Delete</button>
                                <button id="press" class="btn btn-success" >Update</button>
                                <div class="details" style="display: none">
                                    <form  action="/admin/myprod" method="post" enctype="form-data">
                                        <input type="hidden" name="id" value="<%=e._id%>"/>
                                        <div class="form-group row">
                                            <label for="name" class="col-md-2 col-form-label">Name</label>
                                            <div class="col-md-6">
                                                <input name="name" type="text"  class="form-control"  value= <%=e.name%>>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="description" class="col-md-2 col-form-label">Desc.</label>
                                            <div class="col-md-8">
                                                <input name="description" type="text" rows="4" class="form-control"  value= <%=e.description%>>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="price" class="col-md-2 col-form-label">Price</label>
                                            <div class="col-md-4">
                                                <input name="price" type="number"  min="50" max="100000" step="10" class="form-control" 
                                                        value= <%=e.price%>>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="quantity" class="col-12 col-md-2 col-form-label">Product Quantity</label>
                                            <div class="col-5 col-md-4">
                                                <input name="quantity"  type="number" min="0" max="50000" step="5" class="form-control" id="quantity"
                                                    value= <%=e.quantity%>>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-success">Update</button> 
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
</body>
<script src="../../../adminProd.js"></script>
</html>